html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: .5em;
  z-index: 60;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  color: #ffffff;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(209, 204, 204);
  border-radius: .6em;
  overflow: hidden;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgb(145, 141, 141);
  overflow-y: scroll;
}

.round {
  border-radius: 50%;
}

.hoverRound:hover {
  border-radius: 50%;
}

.primaryGradient:hover {
  background: linear-gradient(90.59deg, #439ADE 0%, #0F6DB7 100%);
}

/* [contenteditable]:focus {
  outline: 1px solid blue;
  padding-bottom: 2px
} */

.myShadow {
  box-shadow: 4px 4px 24px 4px rgba(71, 71, 71, 0.15);
  /* box-shadow: -4px 4px 13px 4px rgba(118, 128, 135, 0.08); */
}

.H1 {
  height: 1px;
}

.w-98 {
  width: 98%;
}

/* .top-80 {
  top: 20%;
  width: 40%;
} */

.max-h-80 {
  max-height: 80vh
}

.top8 {
  top: 8px;
}

.darkBlue {
  background-color: #012044;
}
